// Variables
$primary-color: #000000;
$secondary-color: #7e7e7e;
$red: #b93c3c;
$grey: #444444;
$blue: #353d6e;
$icon: #292d32;
$icon-background: #fafafa;
$stars: #feb801;
$border: #d9d9d9;
$text-disabled: #808080;

// Mixins
@mixin xs {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

// Font Face
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Regular.woff") format("woff"),
    url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// Initialization
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.3s;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-transform: capitalize;
}

p {
  font-weight: 400;
  &::first-letter {
    text-transform: uppercase;
  }
}

button {
  text-transform: uppercase;
  font-size: 16px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  @include xs {
    width: 95%;
  }
  @include sm {
    width: 90%;
  }
  @include md {
    width: 90%;
  }
  @include lg {
    width: 90%;
  }
}

.container-fluid {
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  @include xs {
    flex-wrap: wrap;
  }
  @include sm {
    flex-wrap: wrap;
  }
  @include md {
    flex-wrap: wrap;
  }
}

.pointer {
  cursor: pointer;
}

.disabled {
  color: $text-disabled;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

// Header
.header {
  height: 100px;

  ul {
    gap: 32px;
    height: 100px;

    &:nth-child(2) {
      gap: 16px;
    }

    li {
      cursor: pointer;
    }
  }

  nav {
    justify-content: space-between;
  }
  .nav-items {
    gap: 30px;
    @include xs {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include md {
      display: none;
    }
  }
}

.circle-icon,
.big-circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $icon-background;
  justify-content: center;
}
.brand {
  @include xs {
    width: 90px;
  }
}
// Breadcrumbs
.breadcrumb-container {
  height: 80px;
  background-color: $primary-color;
  color: #fff;
}

.breadcrumb {
  height: inherit;
  gap: 5px;

  li:after {
    content: "/";
    padding-left: 3px;
  }

  li:last-child:after {
    content: "";
  }
}
.cart-card {
  right: -110px;
  top: 194%;
  z-index: 10;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-color;
  opacity: 0.4;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
// Product Overview
.product-overview {
  padding: 90px 0;
  align-items: flex-start;
  gap: 100px;
  @include xs {
    gap: 50px;
  }
  @include sm {
    gap: 50px;
  }
  @include md {
    gap: 50px;
  }
  @include lg {
    gap: 50px;
  }
}

.product-img {
  border: 1px solid $border;
  border-radius: 16px;
  padding: 82px 106px;
  position: relative;
  width: 530px;
  .sale-padge {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    padding: 7px 0;
    background-color: $red;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  @include xs {
    width: 100%;
    text-align: center;
    height: 245px;
    padding: 15px 44px;
  }
  @include sm {
    width: 100%;
    text-align: center;
    height: 350px;
    padding: 15px 44px;
  }
  img {
    width: 320px;
    height: 280px;
    @include xs {
      width: 231px;
      height: 245px;
    }
    @include sm {
      width: 231px;
      height: 350px;
    }
  }
}

.price {
  color: $red;
  padding-right: 5px;
  margin: 20px 0;
}

.text-line {
  text-decoration: line-through;
  color: $secondary-color;
}

.add-action {
  gap: 14px;

  button {
    padding: 13px 0;
    width: 280px;
    color: #fff;
    border-radius: 12px;
    margin: 28px 0;
  }
}

.counter {
  width: 150px;
  justify-content: space-around;
  border: 1px solid $border;
  color: $grey;
  border-radius: 11px;
  padding: 8px 18px;
}

.big-circle-icon {
  width: 50px;
  height: 50px;
}

.addetional-actions {
  gap: 36px;

  li {
    gap: 10px;
  }
}

.star-rating {
  font-size: 30px;

  .filled {
    color: $stars;
  }

  .empty {
    color: lightgray;
  }
}

// Cart
.cart {
  width: 400px;
  position: relative;
  padding: 30px 0;
  border-radius: 20px;
  flex-direction: column;
  background-color: #fff;
  cursor: default;
  z-index: 25;
  transition: all 0.3s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: -15px;
    right: 114px;
    background-color: #fff;
    z-index: 20;
  }

  > div {
    padding: 0 30px;
  }

  .products {
    margin: 30px 0;
    width: 100%;
    max-height: 200px;
    padding: 0 30px;
    overflow-y: auto;

    .product {
      border-bottom: 1px solid $border;
      padding-bottom: 21px;
      margin-bottom: 16px;

      .row {
        gap: 17px;
        padding: 0 30px;
      }

      .price {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  button {
    padding: 16px 120px;
    border-radius: 16px;
  }

  .sub {
    margin-bottom: 20px;
    padding: 0 30px;
    color: $secondary-color;
  }

  span {
    color: $secondary-color;
    font-size: 11px;
    padding-left: 5px;
  }

  .total {
    color: $red;
    font-size: 18px;
  }
}
.cart-padge {
  background-color: $red;
  color: #fff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
// Slider
.carousel {
  width: 100%;
  @include xs {
    width: 80%;
  }
  @include sm {
    width: 80%;
  }
}
.card {
  border: 1px solid $border;
  border-radius: 10px;
  padding: 30px 13px 16px 13px;
  width: 257px;
  height: 465px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;

  .card-image {
    height: 231px;
  }

  .card-content {
    padding: 16px 10px;
  }

  .item-id {
    font-size: 18px;
    color: $grey;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .description {
    color: $secondary-color;
    font-size: 14px;
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .star-rating {
    font-size: 20px;
  }

  .price {
    color: $red;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 5px 0;
  }

  .add-to-cart {
    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    width: 75%;
  }

  .circle-icon {
    width: 45px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.slick-prev:before,
.slick-next:before {
  color: $secondary-color;
  font-size: 25px;
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
}

.slick-prev,
.slick-next {
  background-color: transparent;
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $border;
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $border;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
